<!-- TODO: Use CDN url for all the required stylesheets
-->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="alternate" href="http://gyankriti.com/en/home/" hreflang="en"/>
<link rel="alternate" href="http://gyankriti.com/hi/home-hi/" hreflang="hi"/>
<link rel="alternate" href="http://gyankriti.com/" hreflang="x-default"/>
<link rel="icon" href="http://gyankriti.com/wp-content/uploads/2018/03/logo-100x100.png" sizes="32x32"/>
<link rel="icon" href="http://gyankriti.com/wp-content/uploads/2018/03/logo.png" sizes="192x192"/>

<title>Gyankriti</title>

<!-- Bootstrap -->
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-wysiwyg -->
<link href="/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
<!-- Select2 -->
<link href="/select2/dist/css/select2.min.css" rel="stylesheet">
<!-- Switchery -->
<link href="/switchery/dist/switchery.min.css" rel="stylesheet">
<!-- starrr -->
<link href="/starrr/dist/starrr.css" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="/css/custom.min.css" rel="stylesheet">
<!-- Datatables -->
<link href="/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
