<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>

</head>
<body class="nav-md">
<div class="container body">
    <% include partials/menuandtopnav.ejs %>

    <div class="right_col" role="main">
        <!-- page content -->
        <div class="row">
            <div class="x_panel">
                <h1 class="center">Under Developement</h1>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<% include partials/jscripts.ejs %>
</body>
</html>