<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>

</head>
<body class="nav-md">
<div class="container body">
    <% include partials/menuandtopnav.ejs %>

    <!-- page content -->
    <div class="right_col" role="main">

        <!-- /page content -->
        <a href="/tests/add"><h1>go to tests/add</h1></a>
        <BR>
        <a href="/tests/show"><h1>go to tests/show</h1></a>
        <BR>

    </div>

</div>
<% include partials/jscripts.ejs %>
</body>
</html>