<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>

</head>
<body class="nav-md">
<div class="container body">
    <% include partials/menuandtopnav.ejs %>

    <!-- page content -->
    <div class="right_col" role="main">
        <!-- /page content -->
        <a href="/serverfunc">go to serverfunc</a>
    </div>

</div>
<% include partials/jscripts.ejs %>
</body>
</html>