<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>Node Test</title>
    </head>
    <body>
        <h1>
            This is Node
        </h1>
        <br>
        <img alt="Web Image" src="/img/xps.jpg">
    </body>
</html>