<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>

</head>
<body >


<!--Table show start -->
<!-- page content end -->

<% include ../partials/modal.ejs%>
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large-->
<!--modal-->
<!--</button>-->
<BR>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="viewstud.js"></script>
<% include ../partials/jscripts.ejs %>
</body>
</html>
